$main-font: 'Raleway',arial;
$main-bg-color: #eee;
$main-color: #333;
$window-height: 100vh;
$page-pad: 40px;
$button-color: rgba(200, 200, 200, .8);
$hover-color: rgba(184, 201, 217, .85);
$but-hov-time: .15s;
$hover-darken: 15%;

//'winter_in_gotham'
//@import 'winter_in_gotham.css';
@import 'Hollywood.css';

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}
@mixin transition($transition) {
  -webkit-transition: $transition; /* For Safari 3.1 to 6.0 */
          transition: $transition;
}
@mixin border-radius($radius) {
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
          border-radius: $radius;
}
@mixin selection($bg,$color) {
  &::selection {
    background: $bg; /* WebKit/Blink Browsers */
    color: $color;
  }
  &::-moz-selection {
    background: $bg; /* Gecko Browsers */
    color: $color;
  }
}
@mixin page-div{
  width:100vw;
  height:$window-height;
  min-height:500px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  overflow:auto;
}
@mixin noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;  
}
body {
  color: $main-color;
  font-family: $main-font;
  background-color:$main-bg-color;
  margin:0;
  button {
    font-family:$main-font;
    border:none;
    background:$button-color;
    @include transition($but-hov-time);
    @include noselect;
    &>* {
      @include noselect;
    }
  }
  button:hover {
    background:$hover-color;
  }
  button:focus {
    outline:none;
  }
  h1, h2, h3, li, p {
    @include selection($main-color,$main-bg-color);
  }
  h1 {
    font-weight:lighter;
  }
  h2 {
     font-weight:normal;
  }
  hr {
    margin:0;
  }
  ul {
    list-style-type:none;
    padding:0;
  }
  #nav {
    position:fixed;
    left:0;
    top: 30vh;
    z-index:1;
    li {
      margin:0 0 5px 0;
      button {
        position:relative;
        min-width:85px;
      }
      button:after {
        content:"\A";
        position:absolute;
        left:100%;
        top:0;
        border-top:28px solid transparent;
        border-bottom:28px solid transparent;
        border-left:0px solid $button-color;
        @include transition($but-hov-time);
      }
      &:hover button::after {
        border-left:20px solid $hover-color;
      }  
    }
  }
  div#fungroup { 
    $fungroup-square-min: 350px;
    position:absolute;
    left:31.5vw;
    top: 15vh;
    width:36vw; height:36vw;
    min-width:calc($fungroup-square-min + 1vw); min-height:calc($fungroup-square-min + 1vw);
    span {
      position:absolute;
      width:35vw; height:35vw;
      min-width:$fungroup-square-min; min-height:$fungroup-square-min;
      @include transition(3s);
      left:0; top:0; right:0; bottom:0;
      border:.25vw solid #444;
      background:$main-bg-color;
      opacity: .2;
      &:last-of-type {
        opacity:.6;
        background-color:rgba(206, 83, 36, 1);
        @include border-radius(35vw / 2);
      }
    }
    @for $i from 1 through 9 {
      & > span:nth-child(#{$i}){
        @include transform(rotate(($i - 1) * 10deg));
      }
      &:hover > span:nth-child(#{$i}){
        @include transform(rotate(($i - 1) * 10deg + 10deg));
      }
    }
    #title {
      position:absolute;
      text-align: center;
      left:50%;
      top:50%;
      min-width:$fungroup-square-min - 50px;
      width:33vw;
      @include transform(translate(-50%,-60%));
      p#name_for_title {
        font-family: Hollywood;
        font-size: 9vw;
        color:white;
        letter-spacing: .6vw;
        line-height: 1;
        margin: 0;
      }
      h1,h2 {
        margin:0;
      }
    }
    button {
      color: $main-bg-color;
      font-weight: bold;
      position:absolute;
      bottom: 5vw;
      left: 50%;
      @include transform(translateX(-50%));
      width:11vw; min-width:90px;
      height:3.6vw; min-height:30px;
      background-color: $main-color;
      @include transition(2s);
      opacity:0;
      &:hover {
        @include transition($but-hov-time);
        background-color: darken($main-color,$hover-darken);
      }
    }
    &:hover button {
      opacity:1;
    }
  }

  .content {
    display:inline-block;
    width:80%;
    min-height:70%;
    max-width:1200px;
  }
  div#landing {
    color: $main-color;
    @include page-div;
    background: url("../images/hw-bg.jpg");
    background-size: cover;
  }
  div#work {
    @include page-div;
    background: url("../images/cartographer_inv.png");
    padding:$page-pad;
  }

  div#about {
    @include page-div;
    background: url("../images/cartographer.png");
    color: $main-bg-color;
    .content{
      padding:20px;
      text-align:middle;
      img {
        width:70%;
      }
      blockquote {
        display:inline-block;
        width:70%;
        max-width:800px;
      }
      
    }
  }

  div#contact {
    @include page-div;
    background: url("../images/cartographer_inv.png");
  }

  #up_arrow {
    display:none;
    button{
      margin:0;
      position:fixed;
      left:13px; top:5vh;
      width:58px; height:70px;
      p {
        margin:auto;
      }
      &:before, &:after {
        content:"\A";
        position:absolute
      }
      //top triangle
      &:before {
        bottom:100%; left:0;
         border-left:29px solid transparent;
        border-right:29px solid transparent;
       border-bottom:0px solid $button-color;
       @include transition($but-hov-time);
      }
      //bottom fins
      &:after {
        top:100%; left:0;
         border-left:29px solid $button-color;
        border-right:29px solid $button-color;
       border-bottom:0px solid transparent;
       @include transition($but-hov-time);
      }
      &:hover::before {
         border-left:29px solid transparent;
        border-right:29px solid transparent;
       border-bottom:20px solid $hover-color;
      }
      &:hover::after {
         border-left:29px solid $hover-color;
        border-right:29px solid $hover-color;
       border-bottom:20px solid transparent;
      }
    }
  }
}