$main-font: 'Raleway',arial;
$main-bg-color: #eee;
$main-color: #333;
$window-height: 100vh;
$page-pad: 40px;
$button-color: rgba(200, 200, 200, .8);
$hover-color: rgb(184, 201, 217);
$but-hov-time: .15s;
$hover-darken: 15%;
$break-mid: 750px;

@import 'hollywood.css';
@import 'foldy.css';

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}
@mixin transition($transition) {
  -webkit-transition: $transition; /* For Safari 3.1 to 6.0 */
          transition: $transition;
}
@mixin border-radius($radius) {
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
          border-radius: $radius;
}
@mixin selection($bg,$color) {
  &::selection {
    background: $bg; /* WebKit/Blink Browsers */
    color: $color;
  }
  &::-moz-selection {
    background: $bg; /* Gecko Browsers */
    color: $color;
  }
}
@mixin page-div{
  width:100vw;
  height:$window-height;
  min-height:500px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  overflow:auto;
}
@mixin noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;  
}
@mixin respond-to($media) {
  @if $media == mid {
    @media (max-width: $break-mid){ @content; }
  }
}
@mixin font_calc($meas1,$meas2) {
  font-size: -webkit-calc(#{$meas1} + #{$meas2}); /* Ch <26, Saf 6, BB 10 */
     font-size: -moz-calc(#{$meas1} + #{$meas2}); /* Fx <16 */
          font-size: calc(#{$meas1} + #{$meas2}); /* IE 9+, Fx 16+, Ch 26+ */
}
body {
  color: $main-color;
  font-family: $main-font;
  background-color:$main-bg-color;
  margin:0;
  a {
    text-decoration:none;
    color: $main-color;
    :hover {
      @extend a;
    }
  }
  button {
    font-family:$main-font;
    border:none;
    background:$button-color;
    @include transition($but-hov-time);
    @include noselect;
    &>* {
      @include noselect;
    }
  }
  button:hover {
    background:$hover-color;
  }
  button:focus {
    outline:none;
  }
  h1, h2, h3, li, p, span, div {
    @include selection($main-color,$main-bg-color);
  }
  h1 {
    font-weight:lighter;
  }
  h2 {
     font-weight:normal;
  }
  hr {
    margin:0;
  }
  ul {
    list-style-type:none;
    padding:0;
  }
  nav {
    position:fixed;
    left:0;
    top: 30vh;
    z-index:1;
    @include respond-to(mid) {
      top:0; left:50%;
      @include transform(translateX(-50%));
    }
    @include respond-to(mid) {
      ul {
        white-space:nowrap;
        margin:0;
      }
    }
    li {
      margin:0 0 5px 0;
      @include respond-to(mid) {
        display: inline-block;
        margin:0 5px;
      }
      button {
        position:relative;
        min-width:85px;
      }
      button:after {
        content:"\A";
        position:absolute;
        left:100%; top:0;
        border-top:28px solid transparent;
        border-bottom:28px solid transparent;
        border-left:0px solid $button-color;
        @include transition($but-hov-time);
      }
      &:hover button::after {
        border-left:20px solid $hover-color;
        @include respond-to(mid) {
          border:none;
        }
      }  
    }
  }
  #fungroup { 
    $fungroup-square-min: 420px;
    position:absolute;
    left:50%; top:50%;
    @include transform(translate(-50%,-50%));
    width:36vw; height:36vw;
    min-width:$fungroup-square-min; min-height:$fungroup-square-min;
    @include respond-to(mid) {
      top:0; left:0;
      @include transform(none);
      width:100%; height:600px;
      min-width:0;
    }
    min-width:calc($fungroup-square-min + 1vw); min-height:calc($fungroup-square-min + 1vw);
    span {
      position:absolute;
      width:100%; height:100%;
      @include transition(3s);
      left:0; top:0; right:0; bottom:0;
      border:.25vw solid $main-color;
      background:$main-bg-color;
      opacity: .15;
      @include respond-to(mid){ display:none; }
      &:last-of-type {
        opacity:.5;
        background-color: $main-color;
        @include border-radius(50%);
        button {
          color:white;
        }
      }
    }
    @for $i from 1 through 9 {
      & > span:nth-child(#{$i}){
        @include transform(rotate(($i - 1) * 10deg));
      }
      &:hover > span:nth-child(#{$i}){
        @include transform(rotate(($i - 1) * 10deg + 10deg));
      }
    }
    header {
      color:white;
      position:absolute;
      text-align: center;
      left:50%;
      top:50%;
      min-width:$fungroup-square-min - 50px;
      width:75%;
      @include transform(translate(-50%,-60%));
      @include respond-to(mid) {
        width: 80vw;
      }
      p#name_for_title {
        font-family: Hollywood;
        font-size: 9vw;
        @include font_calc(60px,4vw);
        color:white;
        letter-spacing: .6vw;
        line-height: 1;
        margin: 0;
        @include respond-to(mid) {
          font-size: 22vw;
        }
      }
      h1,h2 {
        margin:0;
      }
      h2 {@include font_calc(16px,.75vw)}
    }
    button {
      color: $main-bg-color;
      font-weight: bold;
      position:absolute;
      bottom: 5vw;
      left: 50%;
      @include transform(translateX(-50%));
      width:11vw; min-width:120px;
      height:3.6vw; min-height:60px;
      background-color: $main-color;
      @include transition(2s);
      opacity:0;
      $but-color-hire: #2dae7b;
      @include respond-to(mid) {
        opacity:1;
        background-color: $but-color-hire;
        height:auto;
      }
      &:hover {
        @include transition($but-hov-time);
        background-color: darken($main-color,$hover-darken);
        h2 {
          color:white;
        }
        @include respond-to(mid) {
          background-color: darken($but-color-hire, $hover-darken);
        }
      }
    }
    &:hover button {
      opacity:1;
    }
  }
  .content {
    display:inline-block;
    width:80%;
    min-height:70%;
    max-width:1200px;
    @include respond-to(mid) {
      width: 97%;
    }
  }
  #landing {
    color: $main-color;
    @include page-div;
    background: url("../images/hw-bg.jpg");
    background-size: cover;
    @include respond-to(mid) {
      height:600px;
      background:lighten($main-color, 20%);
    }
  }
  #work {
    @include page-div;
    background: url("../images/cartographer_inv.png");
    padding:$page-pad;
    h1 {
      font-size:200%;
    }
    .grid-2 {
      $icon-urls: "CSS.svg","HTML.svg","js.svg";
      $i: 1;
      @each $url in $icon-urls {
        &:nth-child(#{$i})::before{
          content:"\A";
          background:
            url("../images/icons/" + $url) 
            no-repeat;
          background-size: contain;
          position:absolute;
          left:0;
          top:0;
          width:100px;
          height:100px;
        }
        $i: $i + 1;
      }
    }
    
    
    .grid-2, .grid-3 {
      background: lighten($main-bg-color,20%);
      position: relative;
      height: 100px;
      line-height: 100px;
      overflow:hidden;
      &::after {
        content:"\A";
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        background:rgba(0,0,0,.3);
        opacity:0;
        @include transition(.5s);
      }
      span {
        @include font_calc(16px,1.3vw);
        display:inline-block;
        line-height: normal;
        vertical-align: middle;
      }
    }
    .grid-3 {
      span.hover-text {
        position:absolute;
        left:-100%; top:0;
        height:100%;
        line-height:100px;
        padding:0 15px;
        background:$hover-color;
        z-index:1;
        @include transition(.8s);
        &::after {
          content:"\A";
          position: absolute;
          top:0;
          left:100%;
          border-top:50px solid transparent;
          border-bottom:50px solid transparent;
          border-left:20px solid $hover-color;
        }
      }
    &:hover {
      span.hover-text {
        left:0;
      }
    }
      &:hover::after {
        opacity:1;
      }
    }
  }

  #about {
    @include page-div;
    background: url("../images/cartographer.png");
    color: $main-bg-color;
    .content{
      padding:20px;
      text-align:middle;
      @include respond-to(mid) {
          padding:0;
          padding-top: 40px;
      }
      img {        
        width:100%;
        max-width:800px;
      }
      blockquote {
        display:inline-block;
        max-width:800px;
        @include respond-to(mid) {
          margin:5px;
        }
      }
    }
  }

  #contact {
    @include page-div;
    background: url("../images/cartographer_inv.png");
    @include respond-to(mid) {
      .content {
          padding-top:60px;
      }
    }
    .wufoo-form-container {
      width:70% !important;
      padding-left:30%;
      background:url("../images/charlie_web.png") no-repeat;
      background-size: 30%;
      background-position: left;
      @include respond-to(mid) {
        width:100% !important;
        background:none;
        padding-left: 0;
      }
    }
  }

  #up_arrow {
    display:none;
    z-index: 10;
    button{
      margin:0;
      position:fixed;
      left:13px; top:5vh;
      width:58px; height:70px;
      @include respond-to(mid) {
        top:auto; right:0px; 
        bottom:22px; left:auto;
      }
      p {
        margin:auto;
      }
      &:before, &:after {
        content:"\A";
        position:absolute
      }
      //top triangle
      &:before {
        bottom:100%; left:0;
         border-left:29px solid transparent;
        border-right:29px solid transparent;
       border-bottom:0px solid $button-color;
       @include transition($but-hov-time);
      }
      //bottom fins
      &:after {
        top:100%; left:0;
         border-left:29px solid $button-color;
        border-right:29px solid $button-color;
       border-bottom:0px solid transparent;
       @include transition($but-hov-time);
      }
      &:hover::before {
         border-left:29px solid transparent;
        border-right:29px solid transparent;
       border-bottom:20px solid $hover-color;
      }
      &:hover::after {
         border-left:29px solid $hover-color;
        border-right:29px solid $hover-color;
       border-bottom:20px solid transparent;
      }
    }
  }
}